<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.syj.spring.test.jstl.repository.WeatherRepository">

	<select id="selectWeatherHistory"
	resultType="com.syj.spring.test.jstl.domain.Weather">
 		SELECT
	 		`id`
	 		,`date`
	 		,`weather`
	 		,`temperatures`
	 		,`precipitaton`
	 		,`microDust`
	 		, `windSpeed`
	 		,`createdAt`
	 		,`updatedAt`
	 	FROM
	 		`weatherhistory`;	
	</select>
	
	<insert id="insertWeather" parameterType="map">
		INSERT INTO
			`weatherhistory`
		(
			`date`
			, `weather`
			, `temperatures`
			, `precipitation`
			, `microDust`
			, `windSpeed`
		)
		VALUE
		(
			#{date}
			, #{weather}
			, #{temperatures}
			, #{precipitation}
			, #{microDust}
			, #{windSpeed}
		)
	</insert>
 
 </mapper>